.month {
    display: flex;
    flex-direction: column;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .day-name {
    font-weight: bold;
    text-align: center;
  }
  
  .dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .tasksAmount {
    font-size: 0.8rem;
    text-align: center;
  }
  